@model CMIS.Models.StudentProfile;

<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="card-header text-center bg-light">
                <h2 class="mb-0">معلومات متعلم</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" type="text" name="name" placeholder="اسم" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NameEnglish"></label>
                        <input asp-for="NameEnglish" class="form-control" type="text" name="nameenglish" placeholder="اسم به انگلیسی" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FatherName"></label>
                        <input asp-for="FatherName" class="form-control" type="text" name="fathername" placeholder="اسم پدر" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FatherNameEnglish"></label>
                        <input asp-for="FatherNameEnglish" class="form-control" type="text" name="fathernameenglish" placeholder="اسم پدر به انگلیسی" />
                    </div>
                    <div class="form-group">
                        <label asp-for="GrandFatherName"></label>
                        <input asp-for="GrandFatherName" class="form-control" type="text" name="grandfathername" placeholder="اسم پدرکلان" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NID"></label>
                        <input asp-for="NID" class="form-control" name="nid" placeholder="نمبر تذکره" />
                    </div>
                </div>
                <div class="col">
                    @*<div class="form-group">
                <div class="row">
                <div class="col-4 mx-auto">
                <img class="card-img rounded" src="" alt="" id="imageContainer" />
                </div>
                </div>
                <label asp-for="Picture" for="studentimage"></label>
                <input asp-for="Picture" disabled class="form-control" type="file" id="image" onchange="selectImage()" name="studentImage" placeholder="Student Image" />
                </div>*@
                    <div class="form-group">
                        <label asp-for="ProvinceID"></label>
                        <select asp-items="@ViewBag.Provinces" class="form-control">
                            <option selected disabled>...انتخاب نمودن...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="GraduationYear"></label>
                        <select asp-for="GraduationYear" asp-items="@ViewBag.shamsiYearsList" id="yearsList" class="form-control">
                            <option selected disabled>...انتخاب نمودن...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="AsasNo"></label>
                        <input asp-for="AsasNo" class="form-control" name="asasno" placeholder="نمبر اساس" />
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth"></label>
                        <input asp-for="DateOfBirth" class="form-control" type="date" id="birthdate" name="birthdate" />
                    </div>
                    <div class="selectGender">
                        <label>جنسیت</label>
                        <div class="form-group border rounded">
                            <div class="mt-2 mr-3">
                                <div class="custom-control custom-radio">
                                    <input id="maleRadio" name="gender" value="male" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="maleRadio">مذکر</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="femaleRadio" name="gender" value="female" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="femaleRadio">مونث</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header text-center bg-light">
                <h2 class="mb-0">معلومات مکتب متعلم</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        1. <label asp-for="ProvinceID"></label>
                        <select asp-items="@ViewBag.Provinces" onchange="getDistricts()" id="ProvinceID" required class="form-control">
                            <option selected disabled>...انتخاب نمودن...</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        2. <label for="districts">ولسوالی/ناحیه</label>
                        <select id="districts" required class="form-control">
                            <option selected disabled>...انتخاب نمودن...</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        3. <label for="schools">مکتب</label>
                        <select  id="schools" required class="form-control">
                            <option selected disabled>...انتخاب نمودن...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="btn btn-block btn-primary" type="submit" name="submit" value="ثبت نمودن" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        //image select
        /*function selectImage() {
            var image = document.getElementById("image");
            var imageContainer = document.getElementById("imageContainer");

            var fileReader = new FileReader();
            fileReader.readAsDataURL(image.files[0]);

            fileReader.onload = function () {
                imageContainer.src = this.result;
            }
        }*/

        //getDistricts
        async function getDistricts(event) {
            const provinces = document.getElementById("ProvinceID");
            const selectedProvinceId = provinces.options[provinces.selectedIndex].value;

            const res = await fetch("/profile/districts?provinceId=" + selectedProvinceId)
            const data = await res.json();
            console.log(data)
            

            //const res = await fetch("/profile/districts?provinceId=" + selectedProvinceId).then(function (response) {
            //    return response.json();
            //}).then(function (data) {
            //    console.log(data);
            //}).catch(function () {
            //    console.log("Booo");
            //});
        }

    </script>
}