@model CMIS.Models.StudentProfile;

<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post">
            <h5 class="text-danger text-center">@ViewBag.ErrorMessage</h5>    
            <h6 class="text-danger text-center">@ViewBag.Exception</h6>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="اسم" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NameEnglish"></label>
                        <input asp-for="NameEnglish" class="form-control" placeholder="اسم به انگلیسی" />
                        <span asp-validation-for="NameEnglish" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FatherName"></label>
                        <input asp-for="FatherName" class="form-control" placeholder="اسم پدر" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FatherNameEnglish"></label>
                        <input asp-for="FatherNameEnglish" class="form-control" placeholder="اسم پدر به انگلیسی" />
                        <span asp-validation-for="FatherNameEnglish" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GrandFatherName"></label>
                        <input asp-for="GrandFatherName" class="form-control" placeholder="اسم پدرکلان" />
                        <span asp-validation-for="GrandFatherName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NID"></label>
                        <input asp-for="NID" class="form-control" type="number" placeholder="نمبر تذکره" />
                        <span asp-validation-for="NID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    @*<div class="form-group">
                        <div class="row">
                        <div class="col-4 mx-auto">
                        <img class="card-img rounded" src="" alt="" id="imageContainer" />
                        </div>
                        </div>
                        <label asp-for="Picture" for="studentimage"></label>
                        <input asp-for="Picture" disabled class="form-control" type="file" id="image" onchange="selectImage()" name="studentImage" placeholder="Student Image" />
                        </div>*@
                    <div class="form-group">
                        <label for="school">مکتب</label>
                        <input id="school" readonly class="form-control" value="@ViewBag.SchoolName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="GraduationYear"></label>
                        <input asp-for="GraduationYear" readonly class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="AsasNo"></label>
                        <input asp-for="AsasNo" readonly class="form-control" placeholder="نمبر اساس" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProvinceID"></label>
                        <select asp-items="@ViewBag.Provinces" asp-for="ProvinceID" class="form-control select-2">
                            <option selected disabled>...انتخاب نمودن...</option>
                        </select>
                        <span asp-validation-for="ProvinceID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth"></label>
                        <input asp-for="DateOfBirth" type="text" value="" class="form-control text-center" autocomplete="off" placeholder="روز/ماه/سال" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="selectGender">
                        <label>جنسیت</label>
                        <div class="form-group border rounded pt-1 pb-1">
                            <div class="row">
                                <div class="col-2">
                                    <div class="custom-control custom-radio">
                                        <input asp-for="Gender" id="male" value="1" type="radio" class="custom-control-input" checked>
                                        <label class="custom-control-label pr-4" for="male">مذکر</label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="custom-control custom-radio">
                                        <input asp-for="Gender" id="female" value="0" type="radio" class="custom-control-input">
                                        <label class="custom-control-label pr-4" for="female">مونث</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Remarks"></label>
                        <textarea asp-for="Remarks" class="form-control" placeholder="ملاحظات" rows="4" ></textarea>
                        <span asp-validation-for="Remarks"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="btn btn-block btn-primary" type="submit" name="submit" value="ثبت و ادامه‌ دادن‌" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>

        $(document).ready(function () {
            $('.select-2').select2();
            $("#DateOfBirth").pDatepicker({
                initialValue: false,
                observer: true,
                format: 'YYYY/MM/DD',
                calendar: {
                    persian: {
                        locale: 'en'
                    }
                },
                timePicker: {
                    enabled: false,
                },
                autoClose: true
            });
        });

        /*function selectImage() {
            var image = document.getElementById("image");
            var imageContainer = document.getElementById("imageContainer");

            var fileReader = new FileReader();
            fileReader.readAsDataURL(image.files[0]);

            fileReader.onload = function () {
                imageContainer.src = this.result;
            }
        }*/
    </script>
}