@model IEnumerable<CMIS.Models.LookUp_School>
 
 <div class="container p-3">
	<div class="row pt-4"> 
        <div class="col-6 text-right">
            <a asp-action="School_Create" class="btn btn-primary">
			    Insert School
            </a> 
            <a asp-action="Province_Create" class="btn btn-primary">
			    Insert Province
            </a>
            <a asp-action="Section" class="btn btn-primary">
			    Create Section
            </a> 
        </div> 
	</div>
</div> 