@model CMIS.Models.LookupProvince

@{
    ViewData["Title"] = "School_Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center">
    <div class="col-md-4 text-center">
        <form asp-action="Province_Create"> 
            <div class="form-group">
                <label asp-for="NamePashto" class="control-label">Name in Pashto</label>
                <input asp-for="NamePashto" class="form-control" />
                <span asp-validation-for="NamePashto" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="NameDari" class="control-label">Name in Dari</label>
                <input asp-for="NameDari" class="form-control" />
                <span asp-validation-for="NameDari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameEnglish" class="control-label">Name in English</label>
                <input asp-for="NameEnglish" class="form-control" />
                <span asp-validation-for="NameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 