@model CMIS.Models.LookUp_Province

@{
    ViewData["Title"] = "School_Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center">
    <div class="col-md-4 text-center">
        <form asp-action="Province_Create"> 
            <div class="form-group">
                <label asp-for="ProvinceNamePashto" class="control-label">Name in Pashto</label>
                <input asp-for="ProvinceNamePashto" class="form-control" />
                <span asp-validation-for="ProvinceNamePashto" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="ProvinceNameDari" class="control-label">Name in Dari</label>
                <input asp-for="ProvinceNameDari" class="form-control" />
                <span asp-validation-for="ProvinceNameDari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceNameEng" class="control-label">Name in English</label>
                <input asp-for="ProvinceNameEng" class="form-control" />
                <span asp-validation-for="ProvinceNameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 