@model CMIS.Models.LookUp_School

@{
    ViewData["Title"] = "School_Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center">
    <div class="col-md-4 text-center">
        <form asp-action="School_Create">
            <div class="form-group">
                <label  for="ProvinceId" class="control-label">Province</label>
                <select id="ProvinceId" class="form-control" asp-items="@ViewBag.Schooldropdown">
                    <option>--Select Province--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DistrictID" class="control-label">District</label>
                <select asp-for="DistrictID" class="form-control" >
                    <option>--Select District--</option>
                </select>
            </div>
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@ @*
            <div class="form-group">
                <label asp-for="SchoolID" class="control-label">School</label>
                <select asp-for="SchoolID" class="form-control"> 
                    <option>--Select School--</option>
                </select>
            </div>*@
            <div class="form-group">
                <label asp-for="SchoolNameDari" class="control-label"></label>
                <input asp-for="SchoolNameDari" class="form-control" />
                <span asp-validation-for="SchoolNameDari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolNameEnglish" class="control-label"></label>
                <input asp-for="SchoolNameEnglish" class="form-control" />
                <span asp-validation-for="SchoolNameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolNamePashto" class="control-label"></label>
                <input asp-for="SchoolNamePashto" class="form-control" />
                <span asp-validation-for="SchoolNamePashto" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="SchoolNamePrevious" class="control-label"></label>
                <input asp-for="SchoolNamePrevious" class="form-control" />
                <span asp-validation-for="SchoolNamePrevious" class="text-danger"></span>
                </div>*@
@*
            <div class="form-group">
                <label asp-for="CurrentStageId" class="control-label"></label>
                <input asp-for="CurrentStageId" class="form-control" />
                <span asp-validation-for="CurrentStageId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EntryUserId" class="control-label"></label>
                <input asp-for="EntryUserId" class="form-control" />
                <span asp-validation-for="EntryUserId" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
        $('#ProvinceId').change(function fn(){
            var pId=$('#ProvinceId').val();
            if(pId>0){ 
    $.getJSON('/LookUp/GetDistricts',{ provinceId:pId }, function(data){
                       console.log(data)
                       $('#DistrictID').html('');
                        $('#DistrictID').append('<option value ="">- خواښ - </option>')
                        $.each(data.data, function(index, row){ 
                            debugger;
                            $('#DistrictID').append('<option value="' + row.value + '">' + row.text + '</option>')
                        });
    }) 
            }


        });

</script>
} 