@{
    ViewData["Title"] = "NotFound";
}

<div class="row">
    <div class="col">
        <h1 class="text-center p-2">پیدا نشد!</h1>
        <h5 class="text-danger text-center">@ViewBag.ErrorMessage</h5>
    </div>
</div>