@model CMIS.Models.ResultDocument

<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-4 col-12">
        <div class="form-group">
            <label for="provinces">ولایت</label> <br />
            <select asp-items="@ViewBag.Provinces" 
                    onchange='getDistricts("provinces", "districts", "SchoolID", "Year", "sections");' 
                    id="provinces" class="select-2 form-control">
                <option selected disabled>...انتخاب نمودن...</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-12">
        <div class="form-group">
            <label for="districts">ولسوالی/ناحیه</label> <br />
            <select id="districts" class="select-2 form-control" onchange='getSchools("districts", "SchoolId", "Year", "sections");'>
                <option selected disabled>...انتخاب نمودن...</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-12">
        <div class="form-group">
            <label asp-for="SchoolId"></label> <br />
            <select asp-for="SchoolId" onchange='resetSections("sections");' class="select-2 form-control">
                <option selected disabled>...انتخاب نمودن...</option>
            </select>
            <span asp-validation-for="SchoolId"></span>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="sections">شعبه</label> <br />
            <select id="sections" class="select-2 form-control" onchange='resetYears("Year");'>
                <option selected disabled>...انتخاب نمودن...</option>
            </select>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label asp-for="Year"></label> <br />
            <select asp-for="Year" class="select-2 form-control" onchange="getResultDocuments();">
                <option selected disabled>...انتخاب نمودن...</option>
            </select>
            <span asp-validation-for="Year"></span>
        </div>
    </div>
</div>
<div class="row" id="documentsList"></div>
<div class="modal fade"
         id="studentsList"
         data-backdrop="static"
         data-keyboard="false"
         tabindex="-1"
         aria-labelledby="studentsList"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header border-0 row">
                    <div class="col-1">
                        <button type="button"
                                class="close float-right text-danger"
                                data-dismiss="modal"
                                aria-label="Close"
                                onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-11 text-center">
                        <h5 class="modal-title">لست شاگرد ها</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">نمبر اساس</th>
                                        <th scope="col">نمبر ترتیب</th>
                                        <th scope="col">اسم</th>
                                        <th scope="col">ولد</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <img class="card-img-bottom rounded" id="imageContainer" src="" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <script>
        
        $(document).ready(async function () {
            $('.select-2').select2();
            await getYears("Year");
            await getSections("sections");
        });

        async function getResultDocuments() {
            const schools = document.getElementById("SchoolID");
            const schoolId = schools.options[schools.selectedIndex].value;

            const sectionsElement = document.getElementById("sections");
            const sectionId = sectionsElement.options[sectionsElement.selectedIndex].value;

            const yearsElement = document.getElementById("Year");
            const year = yearsElement.options[yearsElement.selectedIndex].value;

            const documentsList = document.getElementById('documentsList');
            documentsList.innerHTML = "";

            const url = `/ResultDocument/ListDocumentsJson?schoolId=${schoolId}&sectionId=${sectionId}&year=${year}`;
            const res = await fetch(url);
            const data = await res.json();

            if (data == null || data.length <= 0) {
                const emptyMessage = document.createElement('h4');
                emptyMessage.innerHTML = 'معلومات موجود نیست.';
                emptyMessage.className = 'text-center text-danger';

                const div = document.createElement('div');
                div.className = 'col-12 text-center';
                div.appendChild(emptyMessage);

                documentsList.appendChild(div);
            } else {
                for (var i = 0; i < data.length; i++) {
                    const resDoc = data[i];

                    resDoc.path = `/resultdocuments/${resDoc.provinceName}/${resDoc.districtId}/${resDoc.schoolId}/${resDoc.year}/${resDoc.path}`;

                    var item = getDocItem(resDoc.id, resDoc.studentsCount, resDoc.path);

                    const date = new Date(resDoc.insertedDate)
                    item.getElementsByClassName('entryDate')[0].innerHTML = date.getFullYear()+ '/' + date.getMonth() + '/' + date.getDay();
                    item.getElementsByClassName('tableNumber')[0].innerHTML = `کتاب#${resDoc.tableNumber}`;

                    documentsList.appendChild(item);
                }
            }
        }

        async function getStudents(documentId, resDocPath) {
            const url = "/ResultDocument/ListStudentsJson?documentId=" + documentId;
            const res = await fetch(url);
            const data = await res.json();
            if (data == null || data.lenght <= 0) {
                console.log(data);
            } else {
                const backdrop = document.createElement('div');
                backdrop.className = 'modal-backdrop fade show';
                document.getElementsByTagName('body')[0].appendChild(backdrop);

                const modal = document.getElementById('studentsList');
                modal.className = "modal fade show";
                modal.style = 'display: block';

                const modalBody = modal.getElementsByClassName('modal-body')[0];
                modalBody.getElementsByTagName('tbody')[0].innerHTML = "";

                for (var i = 0; i < data.length; i++) {
                    var student = data[i];
                    const tr = document.createElement('tr');

                    const asasNumber = document.createElement('td');
                    asasNumber.setAttribute('scope', 'row');
                    asasNumber.innerHTML = student.asasNumber;

                    const orderNumber = document.createElement('td');
                    orderNumber.setAttribute('scope', 'row');
                    orderNumber.innerHTML = student.studentOrderNumber;

                    const name = document.createElement('td');
                    name.setAttribute('scope', 'row');
                    name.innerHTML = student.studentName;

                    const fatherName = document.createElement('td');
                    fatherName.setAttribute('scope', 'row');
                    fatherName.innerHTML = student.fatherName;

                    const addProfile = document.createElement('td');
                    addProfile.setAttribute('scope', 'row');
                    addProfile.innerHTML = `<a href="/Profile/Create/${student.studentID}" class="btn btn-primary">کامل سازی</a>`;

                    tr.appendChild(asasNumber);
                    tr.appendChild(orderNumber);
                    tr.appendChild(name);
                    tr.appendChild(fatherName);
                    tr.appendChild(addProfile);

                    modalBody.getElementsByTagName('tbody')[0].appendChild(tr);

                    const imageContainer = document.getElementById("imageContainer");
                    imageContainer.setAttribute("src", resDocPath);
                }
            }
        }

        function getDocItem(documentId, numberOfStudents = 0, resDocPath) {
            const item = `
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="card bg-secondary-gradient">
                    <div class="card-body">
                        <div class="row pb-1">
                            <div class="col">
                                <span class="tableNumber float-right"></span>
                            </div>
                            <div class="col">
                                <span class="entryDate float-left"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <button class="btn btn-primary btn-block btn-list-students" onclick="getStudents('${documentId}','${resDocPath}')" type="button">
                                    <i class="fas fa-eye"></i>
                                    <span>لست شاگردان</span>
                                    <span class="badge badge-pill badge-light">${numberOfStudents}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`

            const div = document.createElement('div');
            div.innerHTML = item.trim();
            return div.firstChild;
        }

        function closeModal() {
            document.getElementsByClassName('modal-backdrop')[0].remove();
            const modal = document.getElementById('studentsList');
            modal.className = "modal fade";
            modal.style = 'display: none';
        }

    </script>
}